.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    &:hover, &:active {
      color: #40A4C8;
    }
  }
  a.active {
    background: white;
    color: #40A4C8;
  }
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    list-style: none;
    width: auto;
    align-items: center;
    height: 100%;
    a {
      color: white;
      height: 100%;
      padding: 16px 10px;
      border-bottom: 4px solid transparent;
      &:hover, &:active {
        background: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
      }
    }
    a.active {
      background: #8F5C2C;
      border-bottom: 4px solid #40A4C8;
      color: white;
    }
  }
}