.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
  flex-flow: column;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
}